.cash {
    background: #F6A933;
    padding: 0 40px;
}

.cash-container {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
}

.cash-container__start {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #263238;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 31px;
}

.cash-container__start_bold {
    font-style: normal;
    font-weight: bold;
}

.cash-container__start-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.cash-container__start-btn {
    background: #263238;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 60px;
    color: #FFFFFF;

    text-align: center;
    text-decoration: none;
}

.cash-container__cracker {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.cash-container__cracker-img {
    max-width: 100%;
    width: 77px;
    height: 77px;
}

.revert {
    transform: rotate(90deg);
}

@media (max-width: 480px) {

    .cash-container__start-btn {
        font-size: 16px;
        padding: 15px 46px;
    }

    .cash-container__start {
        font-size: 24px;
    }

    .cash-container__start-container {
        padding: 10px 0;
    }
}
