.font-graphik-bold {
    font-family: 'Graphik', sans-serif;
    font-weight: bold;
    font-style: normal;
}

.font-graphik-semibold {
    font-family: 'Graphik', sans-serif;
    font-weight: 600;
    font-style: normal;
}

.font-graphik-regular {
    font-family: 'Graphik', sans-serif;
    font-weight: normal;
    font-style: normal;
}
