@import "footer.scss";

body {
    font-family: Graphik, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

.terms-header-logo {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    align-items: center;
    cursor: pointer;
    color: #263238;
    margin: 30px 40px;
}

main {
    max-width: 720px;
    margin: auto;
}

.terms-main__container {
    margin-bottom: 80px;
    padding: 0 20px;
}

.terms-main__heading {
    font-size: 26px;
    font-weight: 600;
    font-style: normal;
    margin-top: 1.5em;
    padding-bottom: 14px;
}

.terms-main__update {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}

.terms-main__title {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
}

.terms-main__description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.55;
}
